body{
  background-color: rgb(40, 159, 196);
}

.container{
  margin-top: 30px;
}

.box{
  width: 200px;
  height: 180px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box p{
  font-size: 110px;
}
.win{
  text-align: center;
  color: white;
}
button{
  cursor: pointer;
  width: 130px;
  height: 37;
  color: white;
  background-color: orange;
  font-size: 18px;
  border: none;
}
.head{
  text-align: center;
  color: white;
}