.container{
  margin-top: 30px;
}

.box{
  width: 200px;
  height: 180px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box p{
  font-size: 110px;
}
.win{
  text-align: center;
}
button{
  cursor: pointer;
  width: 130px;
  height: 37;
  color: white;
  background-color: orange;
  font-size: 18px;
  border: none;
}
.head{
  text-align: center;
}